@font-face {
  font-family: 'CoFoSans';
  font-weight: 400;
  src: url(../fonts/cofosans/CoFoSans-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'CoFoSans';
  font-weight: 500;
  src: url(../fonts/cofosans/CoFoSans-Medium.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'CoFoSans';
  font-weight: 700;
  src: url(../fonts/cofosans/CoFoSans-Bold.ttf) format("truetype");
  font-display: swap;
}
