/*
@font-face {
    font-family: 'SFPro';
    font-weight: 100;
    src: url(../fonts/SFPro/SFProDisplay-Ultralight.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 100;
    font-style: italic;
    src: url(../fonts/SFPro/SFProDisplay-UltralightItalic.ttf) format('truetype');
    font-display: swap;
}*/
