html,
body {
	height: 100%;
}

body {
	font-family: 'CoFoSans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	word-break: break-word;
	color: #3e3e3e;
}

input {
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.container{
	max-width: 1260px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;

	@media #{$xs} {
		padding: 0 10px;
	}
}

a{
	color: inherit;
}

h1, h2, h3 {
	font-weight: normal;
	line-height: normal;
}

h1 {
	font-size: 34px;
	text-transform: uppercase;

	@media #{$md} {
		font-size: 24px;
	}
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

p {
	line-height: normal;

	&:not(:last-of-type) {
		margin-bottom: 12px;
	}
}

.text {

	&-size {
		&-small {
			font-size: 14px;
		}

		&-default {
			font-size: 16px;
		}
	}

	&-weight {

		&-medium {
			font-weight: 500;
		}

		&-bold {
			font-weight: 700;
		}
	}
}
