$lg: (max-width: 1200px);
$md: (max-width: 1024px);
$sm: (max-width: 768px);
$xs-l: (max-width: 640px);
$xs: (max-width: 480px);

// z-indexes
$layer-1: 500;
$layer-2: 502;

// border radius
$base-border-radius: 8px;

// base colors
$base-green: #0f9589;
