

.hidden-lg {
  display: none !important;
}

.hidden-md {
  display: block;

  &--flex {
    display: flex;
  }

  @include md {
    display: none !important;
  }
}

.hidden-sm {
  display: block;

  &--flex {
    display: flex;
  }

  @include sm {
    display: none !important;
  }
}

.hidden-xs-l {
  display: block;

  &--flex {
    display: flex;
  }

  @include xsL {
    display: none !important;
  }
}

.hidden-xs {
  display: block;

  &--flex {
    display: flex;
  }

  @include xs {
    display: none !important;
  }
}

.visible-md {
  display: none;


  @include md {
    display: block !important;
  }

  &--flex {

    @include md {
      display: flex !important;
    }
  }

  &--inline-flex {
    @include md {
      display: inline-flex !important;
    }
  }

  &--inline-block {
    @include md {
      display: inline-block !important;
    }
  }
}

.visible-sm {
  display: none;

  @include sm {
    display: block !important;
  }

  &--flex {

    @include sm {
      display: flex !important;
    }
  }

  &--inline-flex {
    @include sm {
      display: inline-flex !important;
    }
  }

  &--inline-block {
    @include sm {
      display: inline-block !important;
    }
  }
}

.visible-xs-l {
  display: none;

  @include xsL {
    display: block !important;
  }

  &--flex {

    @include xsL {
      display: flex !important;
    }
  }

  &--inline-flex {
    @include xsL {
      display: inline-flex !important;
    }
  }

  &--inline-block {
    @include xsL {
      display: inline-block !important;
    }
  }
}

.visible-xs {
  display: none;

  @include xs {
    display: block !important;
  }

  &--flex {

    @include xs {
      display: flex !important;
    }
  }

  &--inline-flex {
    @include xs {
      display: inline-flex !important;
    }
  }

  &--inline-block {
    @include xs {
      display: inline-block !important;
    }
  }
}
