.banner {
  --bannerHeight: 380px;

  &__img, &__video {
    height: var(--bannerHeight);
    border-radius: $base-border-radius;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
    }

    @media #{$md} {
      --bannerHeight: 285px;
    }

    @media #{$xs-l} {
      --bannerHeight: 214px;
    }
  }

  &__img {
    height: var(--bannerHeight);
    @include background-cover;
  }
}
