.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li {
    color: #6e6e6e;
    line-height: 1.1;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;

    @media #{$xs-l} {
      max-width: 280px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:not(:last-child) {

      &:after {
        content: '/';
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
      }
    }

    &:first-child {
      margin-right: 10px;

      &:after {
        display: none;
      }
    }

    &:last-child {

      @media #{$xs-l} {
        width: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
      }

      &:after {

        @media #{$xs-l} {
          content: '...';
          display: inline;
          position: absolute;
          background-color: #fff;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--with-indents {
    margin-top: 40px;
    margin-bottom: 20px;

    @media #{$xs-l} {
      margin-top: 0;
    }
  }
}
