.cards-group {
  padding-top: 40px;
  padding-bottom: 40px;

  &__item {

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  h1 + .cards-group__item {
    margin-top: 40px;

    @include xsL {
      margin-top: 20px;
    }
  }
}

.card {
  position: relative;

  .heading-lg, h1 {
    text-transform: uppercase;

    & + p {
      margin-top: 30px;

      @include sm {
        margin-top: 15px;
      }
    }
  }

  .heading-md, h2 {
    & + p {
      margin-top: 10px;
    }
  }

  .heading-sm, h3 {
    & + p {
      margin-top: 15px;
    }
  }

  .heading-xs, h4 {
    & + p {
      margin-top: 15px;
    }
  }

  &__title {
    display: block;

    &-buttons {
      float: right;

      @include xs {
        float: none;
        display: block;
        margin-top: 18px;
      }
    }
  }

  &__img {
    --maxHeight: 230px;
    --minHeight: 230px;
    display: block;
    min-height: var(--minHeight);
    max-height: var(--maxHeight);
    border-radius: $base-border-radius;
    @include background-cover;

    & ~ .card__title {
      margin-top: 25px;

      @include xsL {
        margin-top: 20px;
      }
    }

    & ~ .info-card {
      margin-top: 40px;

      @include xsL {
        margin-top: 20px;
      }
    }

    &--big {
      --minHeight: 361px;
      --maxHeight: 100%;

      @include sm {
        --maxHeight: 230px;
        --minHeight: var(--maxHeight);
      }

      @include xs {
        --maxHeight: 218px;
      }
    }

    &--medium {
      --minHeight: 305px;
      --maxHeight: 100%;

      @include sm {
        --maxHeight: 230px;
        --minHeight: var(--maxHeight);
      }

      @include xs {
        --maxHeight: 218px;
      }
    }

    &--small {
      --maxHeight: 165px;
      --minHeight: var(--maxHeight);

      @include xs {
        --maxHeight: 218px;
      }

      & ~ .card__title {
        margin-top: 10px;
      }
    }

    &--indent-v {
      margin-top: 15px;
      margin-bottom: 15px;

      @include xs {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    &--darkened {
      position: relative;
      overflow-x: hidden;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-color: rgba(89, 89, 89, 0.62);
        box-shadow: 0 0 0 9999px rgba(89, 89, 89, 0.62);
      }
    }
  }

  &__icon {
    display: inline-flex;
    height: 52px;
    align-items: center;

    & + h1, & + h2, & + h3 {
      margin-top: 20px;
    }
  }

  &__video {
    --maxHeight: 361px;
    max-height: var(--maxHeight);
    min-height: var(--maxHeight);
    height: 100%;

    & ~ .card__title {
      margin-top: 25px;

      @include xsL {
        margin-top: 20px;
      }
    }

    video {
      width: 100%;
      height: 100%;
    }

    @include sm {
      --maxHeight: 230px;
    }

    @include xs {
      --maxHeight: 218px;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    @include xs {
      position: relative;
      margin-top: 20px;
    }
  }

  &__column {

    &:not(:last-of-type) {
      margin-right: 40px;

      @include sm {
        margin-right: 25px;
      }

      @include xsL {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }
  }

  &__btn {

    &-float-right {
      float: right;

      @include xs {
        float: none;
      }
    }

    &-fixed {
      position: absolute;
      bottom: 25px;
      right: 20px;
    }
  }

  p {

    & ~ .button {
      margin-top: 15px;
    }

    & ~ .card__img {
      margin-top: 30px;
    }
  }

  hr {
    background-color: #ccc;
    margin-top: 30px;
  }

  .logos {
    padding-top: 0;
    padding-bottom: 0;

    @include xsL {
      margin-top: 20px;
    }
  }

  .text-center {
    margin-top: 25px;
  }

  &--compact, &--document {
    box-shadow: $base-shadow;
    border-radius: $base-border-radius;
    overflow: hidden;

    .card__img {
      border-radius: 0;
    }

    &:hover {
      box-shadow: $base-shadow-hover;

      .button {
        text-decoration: underline;
      }
    }
  }

  &--compact {
    padding: 20px 20px 50px;
    position: relative;
    transition: box-shadow .3s;

    .card__img {
      background-size: contain;

      @include xxs {
        background-size: cover;
      }
    }

    .card__icon {
      display: flex;
      justify-content: center;
      height: auto;
      min-height: 108px;
      max-height: 108px;

      & + * {
        margin-top: 15px;
      }
    }
  }

  &--video {

    .card__img {
      --maxHeight: 401px;

      @include sm {
        --maxHeight: 230px;
      }

      @include xs {
        --maxHeight: 218px;
      }
    }
  }

  &--promotion {

    img {
      margin: auto;
      position: absolute;
      bottom: -278px;

      @include md {
        position: relative;
        bottom: 0;
      }
    }
  }

  &--document {

    .card__img {
      padding: 20px;

      * {
        color: #fff;
        margin-bottom: 10px;
      }

      &--logo {
        background-size: 192px;
        background-position: center 68%;
        border-bottom: 1px solid #ccc;

        @include sm {
          background-size: 150px;
          background-position-y: 78%;
        }

        * {
          color: #3e3e3e;
        }
      }
    }

    .card__bottom {
      margin: 0;
      position: relative;
      padding: 30px 20px 45px;

      @include xsL {
        padding-bottom: 30px;
      }
    }
  }

  &--inline {
    display: flex;

    @include xsL {
      display: block;
    }

    &:not(:last-child) {

      @include xsL {
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
      }
    }

    .card__img {
      width: 280px;

      @include sm {
        width: 200px;
      }

      @include xsL {
        width: 280px;
        margin: auto;
      }

      @include xs {
        width: 100%;
      }
    }

    .card__column {
      display: flex;
      flex-direction: column;

      @include xsL {
        display: block;
      }

      > p {
        flex-grow: 1;
        @include ellipsis(3);
        margin-bottom: 15px;

        @include xsL {
          -webkit-line-clamp: 4;
        }
      }

      &:nth-child(2) {
        width: calc(76% - 320px);

        @include md {
          width: auto;
        }
      }
    }

    .info-card {
      margin-bottom: 5px;

      @include xsL {
        margin-bottom: 15px;
      }
    }

    .info-source p {

      &:not(:last-of-type) {

        @include sm {
          margin-bottom: 0;
        }

        @include xsL {
          margin-bottom: 6px;
        }
      }
    }
  }

  &--text-condensed {

    p {

      &:not(:last-of-type) {
        margin-bottom: 7px;
      }

      & ~ .button {
        margin-top: 10px;
      }
    }

    h4 {
      & + p {
        margin-top: 10px;
      }
    }
  }

  &--with-map {
    padding-bottom: 220px;

    .card__bottom {
      position: absolute;
    }

    .card__img {
      --maxHeight: 200px;
      --minHeight: 200px;
      background-size: 50px, cover;
      background-position: center;
    }
  }

  &--soon {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ccc;
    border-radius: $base-border-radius;

    .card__icon {
      margin-bottom: 10px;
    }
  }

  &:hover {

    a {
      text-decoration: underline;
    }

    .button--compact {
      text-decoration: none;
    }
  }
}
