.cards-group {
  padding-top: 40px;
  padding-bottom: 80px;
  overflow: hidden;

  @media #{$md} {
    padding-bottom: 0;
  }

  &__item {

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    & ~ h1 {
      margin-bottom: 40px;

      @media #{$xs-l} {
        margin-bottom: 20px;
      }
    }
  }
}

.card {
  position: relative;

  h1 {
    & + p {
      margin-top: 30px;

      @media #{$sm} {
        margin-top: 15px;
      }
    }
  }

  h2 {
    & + p {
      margin-top: 10px;
    }
  }

  h3 {
    & + p {
      margin-top: 15px;
    }
  }

  &__title {

    &-buttons {
      float: right;

      @media #{$xs} {
        float: none;
        display: block;
        margin-top: 18px;
      }
    }
  }

  &__img {
    --maxHeight: 230px;
    --minHeight: 230px;
    min-height: var(--minHeight);
    max-height: var(--maxHeight);
    border-radius: $base-border-radius;
    background-repeat: no-repeat;
    background-size: cover;

    & ~ .card__title {
      margin-top: 25px;

      @media #{$xs-l} {
        margin-top: 20px;
      }
    }

    &--big {
      --minHeight: 361px;
      --maxHeight: 100%;

      @media #{$sm} {
        --maxHeight: 230px;
        --minHeight: var(--maxHeight);
      }

      @media #{$xs} {
        --maxHeight: 218px;
      }
    }

    &--small {
      --maxHeight: 165px;

      @media #{$xs} {
        --maxHeight: 218px;
      }

      & ~ .card__title {
        margin-top: 10px;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    @media #{$xs} {
      position: relative;
      margin-top: 20px;
    }

    .button {
      float: right;

      @media #{$xs} {
        float: none;
      }
    }
  }

  p ~ .button {
    margin-top: 15px;
  }

  &--video {

    .card__img {
      --maxHeight: 401px;

      @media #{$sm} {
        --maxHeight: 230px;
      }

      @media #{$xs} {
        --maxHeight: 218px;
      }
    }
  }

  &--promotion {

    img {
      margin: auto;
      position: absolute;
      top: 30px;

      @media #{$md} {
        position: relative;
        top: 0;
      }
    }
  }
}
