.column {
  --cols-2: repeat(2, 47.9%);
  --cols-3: 3;
  --cols-4: 4;
  $super: &;
  display: grid;
  grid-column-gap: 52px;
  grid-row-gap: 35px;

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &--2 {
    grid-template-columns: var(--cols-2);

    .card__video video {

      @media #{$sm} {
        width: 100%;
      }
    }
  }

  &--3 {
    grid-template-columns: repeat(var(--cols-3), 1fr);
  }

  &--4 {
    grid-template-columns: repeat(var(--cols-4), 1fr);
  }

  &--2, &--3 {

    .card p:last-of-type {
      margin-bottom: 30px;

      @media #{$xs} {
        margin-bottom: 0;
      }
    }
  }

  &--reversed {

    &.column--2 {

      &:nth-child(even) .column__item:last-child {
        order:-1;

        @media #{$sm} {
          order: 1;
        }
      }
    }
  }

  & + h1 {
    margin-top: 50px;
  }

  @media #{$md} {
    --cols-3: 2;
    --cols-4: 3;
  }

  @media #{$sm} {
    --cols-2: repeat(1, 1fr);
    --cols-4: 2;
  }

  @media #{$xs-l} {
    grid-column-gap: 30px;
    --cols-3: 1;
    --cols-4: 2;
  }

  @media #{$xs} {
    --cols-4: 1;
  }
}
