.footer {
  flex: 0 0 auto;
  background-color: #4d4d4d;
  font-size: 16px;

  .container {

    @include xs {
      padding: 0;
    }
  }

  &__logo {
    margin-right: 50px;

    @include md {
      margin-right: 0;
    }

    @include xs {
      width: 110px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;

    @include xsL {
      flex-direction: column;
      align-items: center;
    }

    @include xs {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__top {
    padding-bottom: 47px;

    @include md {
      justify-content: center;
      padding-bottom: 20px;
    }

    @include xsL {
      padding-bottom: 10px;
    }
  }

  &__bottom {
    align-items: center;
    padding: 25px 10px;

    @include sm {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    @include xsL {
      align-items: center;
    }
  }

  &__copyright {
    color: #a6a6a6;

    @include sm {
      margin-top: 22px;
    }
  }

  &__list {

    @include xsL {
      max-width: 240px;
      width: 100%;
    }

    @include xs {
      max-width: 280px;
    }

    &:not(:last-of-type) {

      @include xsL {
        margin-bottom: 37px;
      }
    }

    &.list--inline {
      justify-content: center;
      text-align: center;

      > .list__item {

        &:not(:last-child) {

          @include xsL {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &__divider {
    border: none;
    height: 1px;
    background-color: #7b7b7b;
  }
}
