.list {
  $super:&;

  &__item {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
  }

  &--inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > #{$super}__item {

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 32px;

        @media #{$lg} {
          margin-right: 20px;
        }
      }
    }
  }

  &--text-thin {

    > .list__item > .list__link {
      font-weight: 400;
    }
  }

  &--color-green {

    #{$super}__link {
      color: $base-green;
    }
  }

  &--side-menu {

    &:not(:last-of-type) {
      margin-bottom: 38px;
    }

    #{$super}__item {

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    #{$super}__link {
      width: 100%;
      padding: 7px 15px;
      display: block;
      transition: background-color .175s;
      border-radius: 6px;

      &:hover {
        text-decoration: none;
        background-color: #0c8278;
      }
    }
  }
}
