.project-info {
  display: flex;
  padding: 18px 57px 39px;
  box-shadow: $base-shadow;
  border-radius: $base-border-radius;

  @include xsL {
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
  }

  @include xxs {
    padding-left: 18px;
    padding-right: 18px;
    flex-direction: column;
  }

  &__img {
    min-width: 229px;
    display: flex;
    align-items: center;
    justify-items: center;

    @media (max-width: 719px) {
      min-width: 200px;
    }

    @include xsL {
      min-width: 229px;
      margin: auto;
    }
  }

  &__desc {
    margin-left: 70px;

    & > p + .button {
      margin-top: 20px;
    }

    @include xsL {
      margin-left: 0;
      margin-top: 40px;
    }
  }

  &__list {
    margin-top: 44px;

    @include xs {
      margin-top: 25px;
    }

    &.list--inline {

      > .list__item {

        &:not(:last-child) {

          @include xsL {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &__map {
    min-height: 270px;
    @include background-cover;

    @include xsL {
      min-height: 240px;
    }
  }

  &--with-map {
    display: block;
    padding: 0;
    overflow: hidden;

    .project-info__desc {
      margin: 20px 110px 36px 40px;

      @include md {
        margin-left: 50px;
        margin-right: 50px;
      }

      @include sm {
        margin-top: 0;
      }

      @include xsL {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    .project-info__list {

      &.list--inline {

        > .list__item {

          &:not(:last-child) {

            @include xsL {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
