.side-menu {

  &.active .side-menu__inner {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  &__inner {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    min-width: 375px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $base-green;
    padding: 35px 15px;
    z-index: $layer-2;
    overflow: auto;
    transition: transform .3s, opacity .2s, visibility .2s;

    @include xsL {
      min-width: 345px;
    }

    @include xxs {
      min-width: 100%;
      box-shadow: none;
    }
  }

  .back-drop {
    z-index: $layer-1;
  }

  &__header {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

    & + .list {
      margin-top: 55px;
    }
  }

  &__btn-close {
    position: absolute;
    top: 0;
    right: 10px;
  }
}
