.slider-wrapper {
  position: relative;

  @include xsL {
    background-color: #fff;
  }
}

.slider {
  $super: &;

  &__item {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 665px;
    min-height: 665px;
    position: relative;
    @include background-cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);

      @include xsL {
        display: none;
      }
    }

    @include xsL {
      min-height: 300px;
    }

    @media (max-height: 1000px) {
      max-height: 640px;
      min-height: 640px;
    }
  }

  &__title {
    position: absolute;
    bottom: 106px;
    color: #fff;
    z-index: 3;

    h1 {
      font-size: 54px;
      line-height: 1;
      text-transform: uppercase;

      @include xsL {
        font-size: 34px;
      }
    }

    h2 {
      font-size: 48px;
      line-height: 1;

      @include xsL {
        font-size: 24px;
      }
    }

    @include sm {
      bottom: 60px;
    }

    @include xsL {
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 20px;
      z-index: 1;
      background: inherit;
      overflow: hidden;
    }

    &:before {

      @include xsL {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(10px);
      }
    }
  }

  .owl-nav, .owl-dots {
    position: absolute;

    @include xsL {
      position: relative;
    }
  }

  .owl-nav, .owl-dots {
    bottom: 0;
  }

  &-banner {
    .owl-nav, .owl-dots {
      position: absolute;

      @include xsL {
        position: relative;
      }
    }

    .owl-nav, .owl-dots {
      bottom: 0;
    }

    & + .slider-navigation {
      bottom: 15px;
      position: absolute;

      @include xs {
        bottom: 5px;
      }

      #slider-nav {
        .owl-next, .owl-prev {

          &:hover {
            border-color: #fff;
          }
        }
      }

      #slider-dots .owl-dot.active {
        background-color: #fff;
      }
    }
  }

  &--project {

    #{$super}__img {
      --project-slider-height: 576px;
      max-width: 954px;
      max-height: var(--project-slider-height);
      min-height: var(--project-slider-height);
      border-radius: $base-border-radius;
      margin: 0 auto;

      &:before {
        display: none;
      }

      @include md {
        --project-slider-height: 476px;
      }

      @include xsL {
        --project-slider-height: 360px;
      }
    }

    #{$super}__title {
      position: absolute;
      left: 50%;
      bottom: 15px;
      transform: translateX(-50%);
      padding: 11px 36px;
      text-align: center;
      overflow: hidden;

      h1 {
        font-size: 18px;
        text-transform: none;
        line-height: 1.2;
      }

      h2 {
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.2;
      }

      @include xsL {
        min-width: 100%;
        width: 100%;
      }

      @include xs {
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
      }

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(9px) brightness(1) invert(25%);
        border-radius: 5px;

        @include xsL {
          border-radius: 0;
        }
      }
    }

    & + .slider-navigation {
      max-width: 1090px;
      width: 100%;
      bottom: calc(50% + 7px);
      transform: translateY(-50%);
      margin: auto;

      @media (max-width: 1100px) {
        max-width: 954px;
        padding: 0 20px;
      }

      @include xsL {
        position: absolute;
        padding: 0 15px;
      }
    }
  }
}

@supports not (backdrop-filter: blur(10px)) {
  .slider {

    &__img {

      &:before {

        @include xsL {
          display: block;
          background-color: rgba(0, 0, 0, 0.35);
        }
      }
    }

    &__title {

      &:before {

        @include xsL {
          display: none;
        }
      }
    }

    &--project {

      .slider__title {

        &:before {
          content: "";
          position: absolute;
          display: block;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.4);

          @include xsL {
            border-radius: 0;
          }
        }
      }
    }
  }
}

.slider-navigation {
  text-align: center;
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  z-index: 1;

  @include xsL {
    position: relative;
    bottom: 0;
    padding-top: 14px;
    padding-bottom: 10px;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.slider-hash-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 954px;
  width: 100%;
  margin: 20px auto 0;

  li {
    max-width: 64px;
    width: 100%;
    height: 60px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: $base-border-radius;
    @include background-cover;
  }
}

#slider-nav {
  display: inline-flex;
  justify-content: space-between;
  position: relative;

  .owl-next, .owl-prev {
    padding: 16px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: 1px solid transparent;

    @include xsL {
      padding: 10px 14px;
    }

    &:hover {
      border: 1px solid #fff;

      @include xsL {
        border-color: $base-green;
      }
    }
  }

  .owl-next{
    right: 0;
    padding-right: 19px;

    @include xsL {
      padding-right: 13px;
    }
  }

  .owl-prev{
    left: 0;
    padding-left: 19px;

    @include xsL {
      padding-left: 13px;
    }
  }
}

#slider-project-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .owl-next, .owl-prev {
    padding: 10px 14px;
    border-radius: 100%;
    background-color: transparent;

    @media (max-width: 1100px) {
      background-color: #fff;
    }
  }

  .owl-next{
    padding-right: 13px;
  }

  .owl-prev{
    padding-left: 13px;
  }
}

#slider-dots {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;

  .owl-dot {
    margin: 7.5px;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #000;

    &.active {
      background-color: #fff;

      @include xsL {
        background-color: $base-green;
      }
    }
  }
}

.owl-theme {

  #slider-nav {
    margin-top: 0;

    &.owl-nav [class*='owl-'] {
      margin-top: 0;
      background-color: transparent;
    }
  }

  .owl-nav.disabled {
    display: none !important;
  }
}

.owl-theme .owl-nav [class*='owl-']{
  margin: 0;
}

