.slider-wrapper {
  position: relative;

  @media #{$xs-l} {
    background-color: #fff;
  }
}

.slider {

  &__item {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 665px;
    min-height: 665px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);

      @media #{$xs-l} {
        background-color: rgba(0, 0, 0, 0.35);
      }
    }

    @media #{$xs-l} {
      min-height: 300px;
    }
  }

  &__title {
    position: absolute;
    bottom: 106px;
    color: #fff;
    z-index: 2;

    h1 {
      font-size: 54px;
      line-height: 1;
      text-transform: uppercase;

      @media #{$xs-l} {
        font-size: 34px;
      }
    }

    h2 {
      font-size: 48px;
      line-height: 1;

      @media #{$xs-l} {
        font-size: 24px;
      }
    }

    @media #{$xs-l} {
      bottom: 20px;
      padding-top: 20px;
    }
  }

  .owl-nav, .owl-dots {
    position: absolute;

    @media #{$xs-l} {
      position: relative;
    }
  }

  .owl-nav, .owl-dots {
    bottom: 0;
  }
}

.slider-navigation {
  text-align: center;
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  z-index: 1;

  @media #{$xs-l} {
    position: relative;
    bottom: 0;
    padding-top: 14px;
    padding-bottom: 10px;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

#slider-nav {
  display: inline-flex;
  justify-content: space-between;
  position: relative;

  .owl-next, .owl-prev {
    padding: 16px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: 1px solid transparent;

    @media #{$xs-l} {
      padding: 10px 14px;
    }

    &:hover {
      border: 1px solid #fff;

      @media #{$xs-l} {
        border-color: $base-green;
      }
    }
  }

  .owl-next{
    right: 0;
    padding-right: 19px;

    @media #{$xs-l} {
      padding-right: 13px;
    }
  }

  .owl-prev{
    left: 0;
    padding-left: 19px;

    @media #{$xs-l} {
      padding-left: 13px;
    }
  }
}

#slider-dots {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;

  .owl-dot {
    margin: 7.5px;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #000;

    &.active {
      background-color: #fff;

      @media #{$xs-l} {
        background-color: $base-green;
      }
    }
  }
}
