<div class="footer">
    <div class="container">
        <div class="footer__row footer__top">
            <a href="/" class="logo footer__logo">
                <img src="images/icons/logo-white.svg" alt="logo">
            </a>
            <ul class="list footer__list hidden-md">
                <li class="list__item">
                    <a href="development.html" class="list__link">Девелопмент и строительство</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Консалтинг и аналитика</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Маркетинг и реклама</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Менeджмент и управление</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Образование и практика</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Общественная деятельность</a>
                </li>
            </ul>
            <ul class="list footer__list hidden-md">
                <li class="list__item">
                    <a href="about.html" class="list__link">О компании</a>
                </li>
                <li class="list__item">
                    <a href="brandbook.html" class="list__link">Брендбук ЁЛКА</a>
                </li>
                <li class="list__item">
                    <a href="press.html" class="list__link">Упоминание в прессе</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Обратная связь</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Официальные документы</a>
                </li>
            </ul>
            <ul class="list footer__list hidden-md">
                <li class="list__item">
                    <a href="#" class="list__link">Инвесторам</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Риэлторам</a>
                </li>
                <li class="list__item">
                    <a href="https://tender.yolka.ru/" target="_blank" class="list__link">Тендеры</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Вакансии</a>
                </li>
                <li class="list__item">
                    <a href="contacts.html" class="list__link">Контакты</a>
                </li>
            </ul>
            <ul class="list footer__list hidden-md">
                <li class="list__item">
                    <a href="#" class="list__link">
                        <span class="list__icon"><img src="images/icons/social/youtube.svg" alt="youtube icon"></span>
                        @yolka_movie</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">
                        <span class="list__icon"><img src="images/icons/social/tg.svg" alt="tg icon"></span>
                        @yolka</a>
                </li>
            </ul>
        </div>
        <div class="footer__row visible-md visible-md--flex">
            <ul class="list footer__list">
                <li class="list__item">
                    <a href="development.html" class="list__link">Девелопмент и строительство</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Консалтинг и аналитика</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Маркетинг и реклама</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Менeджмент и управление</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Образование и практика</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Общественная деятельность</a>
                </li>
            </ul>
            <ul class="list footer__list">
                <li class="list__item">
                    <a href="about.html" class="list__link">О компании</a>
                </li>
                <li class="list__item">
                    <a href="brandbook.html" class="list__link">Брендбук ЁЛКА</a>
                </li>
                <li class="list__item">
                    <a href="press.html" class="list__link">Упоминание в прессе</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Обратная связь</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Официальные документы</a>
                </li>
            </ul>
            <ul style="margin-bottom: 0;" class="list footer__list">
                <li class="list__item">
                    <a href="#" class="list__link">Инвесторам</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Риэлторам</a>
                </li>
                <li class="list__item">
                    <a href="https://tender.yolka.ru/" target="_blank" class="list__link">Тендеры</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Вакансии</a>
                </li>
                <li class="list__item">
                    <a href="contacts.html" class="list__link">Контакты</a>
                </li>
            </ul>
            <ul class="list footer__list hidden-sm">
                <li class="list__item">
                    <a href="#" class="list__link"><img src="images/icons/social/youtube.svg" class="list__icon" alt="youtube icon">@yolka_movie</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link"><img src="images/icons/social/tg.svg" class="list__icon" alt="tg icon">@yolka</a>
                </li>
            </ul>
        </div>
        <hr class="footer__divider visible-sm visible-sm--flex">
        <div class="footer__row visible-sm visible-sm--flex">
            <ul class="list footer__list">
                <li class="list__item">
                    <a href="#" class="list__link">
                        <span class="list__icon"><img src="images/icons/social/youtube.svg" alt="youtube icon"></span>
                        @yolka_movie</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">
                        <span class="list__icon"><img src="images/icons/social/tg.svg" alt="tg icon"></span>
                        @yolka</a>
                </li>
            </ul>
        </div>
        <hr class="footer__divider">
        <div class="footer__row footer__bottom">
                <span class="footer__copyright">
                    © 2022 Корпорация Ёлка
                </span>
            <ul class="list list--text-thin list--inline footer__list">
                <li class="list__item">
                    <a href="tel:+7(383)200-03-33" class="list__link">+7 (383) 200-03-33</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__link">Новосибирск,<br class="visible-xs-l"> Планетная, 30, корп 2б, 1 этаж</a>
                </li>
            </ul>
        </div>
    </div>
</div>
